 <div class="container">
  <form action="">
    <div class="form-group">
      <label for="">Nombres</label>
      <input type="text" name="nombres" id="" class="form-control" placeholder="Ingrese Nombres" [(ngModel)]="usuario.nombres_user" required="true" >
    </div>
    <div class="form-group">
      <label for="">Apellidos</label>
      <input type="text" name="apellidos" id="" class="form-control" placeholder="Ingrese Apellidos" [(ngModel)]="usuario.apellidos_user" required="true">
    </div>
    <div class="form-group">
      <label for="">Usuario GitHub</label>
      <input type="text" name="user_git" id="" class="form-control" placeholder="Ingrese usuario de github" [(ngModel)]="usuario.user_git_user" required="true">
    </div>
    <div class="form-group">
      <label for="">E-mail</label>
      <input type="email" name="email" id="" class="form-control" placeholder="Ingrese E-mail" [(ngModel)]="usuario.email_user" required="true">
    </div>
    <div class="form-group">
      <label for="">Celular</label>
      <input type="text" name="celular" id="" class="form-control" placeholder="Ingrese su numero de celular" [(ngModel)]="usuario.celular_user">
    </div>
    <div class="form-group">
      <label for="">Contraseña</label>
      <input type="password" name="password" id="" class="form-control" placeholder="Ingrese Contraseña" [(ngModel)]="usuario.contrasena_user" required="true">
    </div>
    <input type="reset" class="btn btn-secondary mr-2" value="Limpiar">
    <input type="submit" class="btn btn-primary" (click)="saveUsuario()">
  </form>
 </div>
