<div class="container m-r-3">
  <h1 align="center"><b>Grupos</b></h1>
  <input type="button" class="btn btn-primary mt-2 mb-2" value="Nuevo" (click)="open(grupoModal)">
  <ng-template #grupoModal let-modal>
    <div class="modal-header">
      <h1>Grupo</h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" name="nombre" id="" class="form-control" placeholder="Ingrese nombre de Grupo" [(ngModel)]="grupo.nombre_grupo">
      </div>
      <input type="reset" class="btn btn-secondary mr-2" value="Limpiar">
      <input type="submit" class="btn btn-primary" (click)="guardarGrupo()">
    </form>
    </div>
  </ng-template>

  <table class="table  table-striped table-responsive">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupo of grupos">
          <td>{{grupo.nombre_grupo}}</td>
          <td>
          <!-- Envia datos de determinado producto desde arreglo a NgModel de producto -->
            <button class="btn btn-warning" (click)="editGrupo(grupo)"><i
             class="fa fa-edit"></i></button> &nbsp;
         <!-- Elimina producto obteniendo id desde arreglo a NgModel de producto -->
         <button class="btn btn-danger" (click)="borrarGrupo(grupo.id_grupo)"><i
             class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
